#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
/* global.css */

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmer 1.8s infinite;
}
